# Dependencies
node_modules/

# Build outputs
dist/
out-tsc/
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Angular
.angular/

# npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local
